h1{
    color: white;
    background-color: #282c34;
    display: flex;
    justify-content: center;
}

body{
    background-color: #282c34;
}

.career{
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    margin: 100px 400px 100px 400px;  
    padding: 100px 100px .5px 100px;
}

.personal{
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    margin-left: 400px;
    margin-right: 400px;
    padding: 100px 100px .5px 100px;
}


.carr{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-left: -100px;
    margin-right: -100px;
    padding-bottom: 50px;
    border: 1px solid red;
}

.carrier-text{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-right: -100px;
    padding-bottom: 100px;
    border: 1px solid red;
}

.pers{
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-left: -100px;
    margin-right: -100px;
    padding-bottom: 50px;
    border: 1px solid red;
}

.personal-text{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-right: -100px;
    border: 1px solid red;
    padding-bottom: 100px;
}

